.clearfix::after {
    content: "";
    display: block;
    clear: both;
 }
.header {
    width: 400px;
    height: 100px;
    background-color:#141f40;
}

/* .main {
    width: 400px;
    height: 100px;
    background-color:pink;
} */

.left {
    width: 150px;
    height: 250px;
    background-color:#80bfa8;
    float: left;
}

/* .right {
    width: 250px;
    height: 250px;
    background-color:pink;
    float: left;
} */

.y {
    width: 150px;
    height: 50px;
    background-color:#dbd400;
}

.b {
    width: 150px;
    height: 100px;
    background-color:#0093b7;
}

.p {
    width: 100px;
    height: 150px;
    background-color:#ff9e6b;
    float: left;
}

.e {
    width: 250px;
    height: 100px;
    background-color:#8c2727;
}
.footer {
    width: 400px;
    height: 100px;
    background-color:#d98d30;
}

.yb {
    float: left;
}
.rbpe{
    float: left;
}